@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #3d3d3d;
  border-radius: 4px;
}

body {
  overflow: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
